.image1{
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 2rem;
   }
   a{
     color:rgb(121, 154, 183);
     font-size: 2rem;
   }
   .navbar-brand:hover{
     color: white;
   }
   form{
     margin-top: 15%;
   }
   .has-text-centered{
     background-color: lightcyan;
     border-radius: 5%;
   }
     
   .image2{
     margin-top: 25%;
     margin-bottom: 0%;
   }
   
   .is-4{
     font-size: 2rem;
   }
   .button.is-fullwidth{
     width: 50%;
     left: 25%;
   }
   
   .field:not(:last-child) {
     margin-bottom: 2rem;
   }
   .ForgetPwd:hover{
     color:#1b0ddb;
   }
   
   @media only screen and (max-width:600px){
     .image2{
       display: none;
     }
     .columns{
       margin-left: 00.5rem;
       margin-right: 00.5rem;
       margin-top: 0.5rem;
     }
   }   